body {
    background-color: rgb(214, 234, 248);
}

h1 {
    color: rgb(10, 10, 10);
    text-align: center;
    font-size: 42px;
}


.container {
    margin-top: 120px;
    width: 600px;
}

.container img {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    width: 200px;
    
}
